{% extends 'base.html' %}
{% block content%}

<main>
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Eat Out</h1>
            <p class="lead text-muted">Eat out is an app designed to help you and your friends choose where you will go out to eat. One user should make
                a group which the rest will join. Each user can add restaurants and leave their opinions on them, finally voting in order to chose what restaurant you
                will all go to.
            </p>
            <p>
                 <a href="#" class="btn btn-primary disabled my-2">Create Group</a> <!-- These are disabled for future development -->
                <a href="#" class="btn btn-secondary  disabled my-2">Join Group</a>
                <a href="/create_rest" class="btn btn-primary my-2">Add Restaurant</a>
            </p> 
        </div>
    </section>

    
    <div class="row">
        {% for restaurant in restaurants %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm"><a href="/restaurant/{{restaurant._id}}">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">{{restaurant.name}}</text>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">{{restaurant.type}}</p></a>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Yes</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">No</button>
                            </div>
                            <small id="votes" class="text-muted">2 votes</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</main>
{% endblock content %}